@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 20px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    margin: 0px 15px;
    background: url(img/todo-background.png);
    background-repeat: repeat;
    background-size: contain;
    position: relative;
}
.todo-horus{
    text-align: center;
    color: #fff;
    position: absolute;
    top: 10px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 1.5rem;
}
.todo-horus h3{
    font-size: 2.5em;
}
.list-member-adder{
    position: absolute;
    bottom: 15px;
    width: 100%;
}
#addNew {
    height: 50px;
    width: 85%;
    margin-left: 5%;
}
#addNew::placeholder{
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}
#addNew:focus{
    background-color: #000;
}
#addNew:focus::placeholder{
    color: #fff;
}
#addNew[placeholder]{
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
    font-size: 1.2rem;
}
#addNew[placeholder]:focus{
    color: #fff;
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
    font-size: 1.2rem;
}
.addBtn {
    border: 1px solid #000;
    border-radius: 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 10%;
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
    font-size: 1.2rem;
    position: relative;
    left: 85%;
    bottom: 50px;
    z-index: 1; 
}
.unorder-list{
    /* position: relative; */
    list-style-type: none;
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    margin: 2px 15px;
}
.unorder-list > li {
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    padding: 5px 20px;
    user-select: none;
    position: relative;
}
li::before{
    content: '> ';
}

li:hover{
    cursor: pointer;
}
li:nth-child(odd):hover{
    background-color: #303030af;
}
li:nth-child(even):hover{
    background-color: #61616188;
}
.mission-done{
    text-decoration: line-through;
    background-color: #1f1e1e;
    color: #ffffff;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.mission-done::before{
    content: '';
}
.removeBtn{
    position: absolute;
    top: 0;
    right: 1%;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: #555555;
    cursor: pointer;
}
.removeBtn:hover{
    color: #fff;
}

.error-alert {
    position: absolute;
    top: 0;
    right: 2%;
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
    font-size: .8rem;
    border: 1px solid #ff0303;
    color: #ff0000ce;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(253, 0, 0, 0.5);
    z-index: 1;
}
.success-alert{
    position: absolute;
    top: 0;
    right: 2%;
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
    font-size: .8rem;
    border: 1px solid rgb(1, 124, 1);
    color: rgb(1, 124, 1);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(1, 124, 1, 0.7);
    z-index: 1;
}